
            .numberContainer {
            width: 25%;
            height: 100%;
            float: left;
            background-color: rgb(249, 250, 249);
            overflow-y: auto;


        }

        .sandboxContainer {
            width: 50%;
            height: 100%;
            float: left;
            background-color: rgb(222, 233, 233);
        }

        .resultContainer {
            width: 25%;
            height: 100%;
            background-color: white;
            float: right;
			
			
        }
		.resultElement{
			font-size: 20px;
			font-family: "Times New Roman", Times, serif;
			background-color: rgb(160, 160, 224);
			color: white;
			height: 50px;
    width: 150px;
	margin-left: 10px;
		}
		.textArea{
			font-size: 25px;
			font-family: "Times New Roman", Times, serif;
			background-color: rgb(160, 160, 224);
			color: white;
			height: 50px;
			width:150px;
			text-align: justify;
			margin-left: 10px;
			 
		}
		.logoutContainer{
		 position: absolute;
  bottom: 10px;
  right: 185px;

		}

        .blockContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: auto;
            height : 40%;

        }

        .operatorContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: auto;
            height : 12%;

        }
        .trigonometryContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: auto;
            height : 12%;

        }

        .number {
            height: 50px;
            width: 50px;
            background-color: rgb(160, 160, 224);
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .numberText {
            color: rgb(247, 250, 252);
            font-size: 25px;
        }

        .sbExpression {
            
            flex-wrap: wrap;
            width: 100%;
            display: flex;
        }

        .sumExpression{
            
            width: 20px;
            display: flex;

        }

        .operatorExpression {
            height: 50px;
            width: 80px;
            background-color: rgb(160, 160, 224);
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .trigExpression {
            height: 50px;
            width: 80px;
            background-color: rgb(160, 160, 224);
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        



